/* RE-Assist */

/* Clean Hands */

#cleanHands{
    background-color: #104E8B;
    text-align: center;
    color: #EFF1F2;
	height: 40px;
	padding: 0px;
    width: 100%;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
}